@model DebtorsSystem.Models.DebtorModel;
@{
    ViewData["Title"] = "Edit";
}
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/semantic.min.js"></script>
<script src="~/js/dropdown.min.js"></script>
<script src="~/js/calendar.min.js"></script>
<link href="~/css/semantic.css" rel="stylesheet" type="text/css" />
<link href="~/css/dropdown.min.css" rel="stylesheet" type="text/css" />
<link href="~/css/calendar.min.css" rel="stylesheet" type="text/css" />
<h2>Edit</h2>
<div id="mainform" style=" margin-left:5%; margin-right:5%">
    <form class="ui form" id="debtorAddForm" onsubmit="return false;">

        <input name="Id" type="hidden" value="@Model.Id">
        <input id="workedStarted" type="hidden" value="@Model.WorkStarted 1">
        <input id="ExecutionStopp" type="hidden" value="@Model.ExecutionStopped 1">
        <div class=" field">
            <label>ФИО</label>
            <input name="FIO" type="text" placeholder="ФИО" value="@Model.FIO">
        </div>
        <div class=" field">
            <label>Дата выпуска</label>
            <div class="ui calendar" id="DateIssue">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Date/Time" name="DateIssue" value="@Model.DateIssue">
                </div>
            </div>
        </div>

        <div class="ui selection dropdown" style="margin-top:1%;margin-bottom:1% ">
            <input type="hidden" name="TrainingLevel" value="@Model.TrainingLevel">
            <i class="dropdown icon"></i>
            <div class="default text">Уровень подготовки</div>
            <div class="menu">
                <div class="item" data-value="1">ПТО</div>
                <div class="item" data-value="0">ССО</div>
            </div>
        </div>

        <div class=" field">
            <label>Адрес</label>
            <input type="text" placeholder="Адрес" name="Address" value="@Model.Address">
        </div>

        <div class="ui checkbox" id="workStarted">
            <input name="WorkStarted" type="checkbox">
            <label>Приступил к работе</label>
        </div>

        <div class=" field">
            <label>Сумма возмещения</label>
            <input type="text" placeholder="Сумма возмещения" name="RefundAmount" value="@Model.RefundAmount">
        </div>

        <div class=" field">
            <label>Дата приказа о возмещении</label>
            <div class="ui calendar" id="DateRefund">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Date/Time" name="DateRefund" value="@Model.DateRefund">
                </div>
            </div>
        </div>

        <div class=" field">
            <label>Сумма возмещения до суда</label>
            <input type="text" placeholder="Сумма возмещения" name="RefundBeforeTrial" value="@Model.RefundBeforeTrial">
        </div>

        <div class=" field">
            <label>Дата суда</label>
            <div class="ui calendar" id="DateTrial">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Date/Time" name="DateTrial" value="@Model.DateTrial">
                </div>
            </div>
        </div>

        <div class=" field">
            <label>Сумма, возмещённая после суда</label>
            <input type="text" placeholder="Сумма возмещения" name="RefundAfterTrial" value="@Model.RefundAfterTrial">
        </div>

        <div class="ui checkbox" id="ExecutionStopped">
            <input type="checkbox" name="ExecutionStopped">
            <label>Остановлено исполнительное производство</label>
        </div>


        <div class=" field">
            <label>Дата остановления исполнительного производства</label>
            <div class="ui calendar" id="DateExecution">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Date/Time" name="DateExecution" value="@Model.DateExecution">
                </div>
            </div>
        </div>

        <div class="field">
            <label>Переписка с ОПИ</label>
            <textarea style="margin-top: 0px; margin-bottom: 0px; height: 112px;"></textarea>
        </div>


        <div class="ui submit button">Сохранить</div>


    </form>
</div>
<script>
    $('#DateIssue, #DateRefund, #DateTrial, #DateExecution').calendar({
        type: 'date',
        firstDayOfWeek: 1,
        formatInput: false,
        text: {
            days: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
            months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            monthsShort: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
            today: 'Сегодня'
        },
    });
    $('.ui.dropdown')
        .dropdown();

    var workStarted;
    if ($('#workedStarted').val() == 'True 1') {
        workStarted = 'check'
        console.log(workStarted);
    }
    else {
        workStarted = 'uncheck'
        console.log(workStarted);
    }
    $('#workStarted').checkbox(workStarted);

    var ExecutionStopped;
    if ($('#ExecutionStopp').val() == 'True 1') {
        ExecutionStopped = 'check'
    }
    else {
        ExecutionStopped = 'uncheck'
    }
    $('#ExecutionStopped').checkbox(ExecutionStopped);

    var $debtorAddForm = $('#debtorAddForm');
    $('#mainform .ui.button').on('click', function () {
        $mydata = {
            'Id': $debtorAddForm.form('get value', 'Id'),
            'FIO': $debtorAddForm.form('get value', 'FIO'),
            'DateIssue': $debtorAddForm.form('get value', 'DateIssue'),
            'TrainingLevel': $debtorAddForm.form('get value', 'TrainingLevel'),
            'Address': $debtorAddForm.form('get value', 'Address'),
            'WorkStarted': $debtorAddForm.form('get value', 'WorkStarted'),
            'RefundAmount': $debtorAddForm.form('get value', 'RefundAmount'),
            'DateRefund': $debtorAddForm.form('get value', 'DateRefund'),
            'RefundBeforeTrial': $debtorAddForm.form('get value', 'RefundBeforeTrial'),
            'DateTrial': $debtorAddForm.form('get value', 'DateTrial'),
            'RefundAfterTrial': $debtorAddForm.form('get value', 'RefundAfterTrial'),
            'DateExecution': $debtorAddForm.form('get value', 'DateExecution'),
            'ExecutionStopped': $debtorAddForm.form('get value', 'ExecutionStopped')
        }
        console.log($mydata);
        $.ajax({
            url: '/debtor/Edit',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify($mydata),
            success: function (data) {
                window.location = "@Url.Action("Index", "Debtor")";

            },
            async: true
        });
    })
</script>